<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create post</title>
</head>
<body>
<h1>Create post</h1>
<p>
    <a href="/posts">Post list</a>
</p>
<form th:action="@{/posts/save}" th:object="${post}" method="post" novalidate="novalidate">
    <input type="text" th:field="*{title}" placeholder="Title">
    <input type="hidden" th:field="*{createAt}">
    <input type="text" th:field="*{content}" placeholder="Content">
    <input type="hidden" th:field="*{likes}">
    <button>Post</button>
</form>
</body>
</html>