<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Posts</h3>
<form th:action="@{/posts/title-create-at}">
    <input type="text" th:name="title" style="width: 300px" placeholder="Enter the title">
    <input type="datetime-local" th:name="begin" style="width: 300px" placeholder="Begin">
    <input type="datetime-local" th:name="end" style="width: 300px" placeholder="End">
    <button>Search</button>
</form>
<p>
    <a th:href="@{/posts/create}">
        Add new post
    </a>
</p>
<a href="/posts/order">Order By Likes</a><br>
<a href="/posts/create-at">Order By Create At</a><br>
<a href="/posts/top-4-new">Top 4 New Posts</a>
<form th:action="@{/posts/search}">
    <input type="text" th:name="title" style="width: 300px" placeholder="Enter the title">
    <button>Search</button>
</form>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id = "customers">
    <thead>
    <tr>
        <th>Title</th>
        <th>CreateAt</th>
        <th>Content</th>
        <th>Likes</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${posts}">
        <td th:text="${row.getTitle()}"></td>
        <td th:text="${row.getCreateAt()}"></td>
        <td th:text="${row.getContent()}"></td>
        <td th:text="${row.getLikes()}"></td>
        <td><a th:href="@{/products/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/products/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/products/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<hr>
<div>
    <a th:href="@{'/posts'(page=${posts.number - 1})}" th:if="${posts.hasPrevious()}">Previous</a>
    <span th:text="${posts.number + 1}"></span>/<span th:text="${posts.totalPages}"></span>
    <a th:href="@{'/posts'(page=${posts.number + 1})}" th:if="${posts.hasNext()}">Next</a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>